.mat-card {
    margin: 5px;

    .title {
        font-weight: bold;
    }

    .mat-raised-button {
        width: 40%;
        margin: 10px;

        &.right {
            float: right;
        }
    }

    .mat-card-content {
        height: 70px;
        margin-top: 22px;
    }
}

